* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #1da41f;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    font-size: 25px;
}


.chat-item {
    margin-bottom: 15px;
    display: flex;
}

.chat-user-name {
}

.chat-message {
    margin-left: 15px;
}

.form {
    margin-bottom: 45px;
}

.wrapper {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    padding: 20px 20px;
}

.hidden-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    font-size: 25px;
    opacity: 0;
    transition: .3s;
}

.hidden-modal.active {
    opacity: 1;
}

input[type='text'] {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 25px;
    text-decoration: none;
}
.input-wrapper::before {
    content: '';
    display: inline-block;
    color: white;
    width: 13px;
    height: 13px;
    transform: rotate(315deg);
    border-right: 3px solid #1da41f;
    border-bottom: 3px solid #1da41f;
    margin-right: 15px;
}
